<?xml version="1.0"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <!-- Other <section> and <sectionGroup> elements. --><!--
  </configSections>-->
  <configSections>
    <sectionGroup name="pageAppearanceGroup">
      <section name="pageAppearance" type="CustomConfigTest.PageAppearanceSection, CustomConfigTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <!-- Configuration section settings area. -->
  <pageAppearanceGroup>
    <pageAppearance remoteOnly="true" defaultProvider="PageAppearanceProvider">
      <providers>
        <add name="PageAppearanceProvider" type="CustomConfigTest.PageAppearanceProvider, CustomConfigTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </providers>
      <font name="TimesNewRoman" size="18"/>
      <color background="000000" foreground="FFFFFF"/>
      <things>
        <add name="slimy" type="goo"/>
        <add name="metal" type="metal" color="silver"/>
        <add name="block" type="wood" color="tan"/>
      </things>
    </pageAppearance>
  </pageAppearanceGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
