<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=manishsingh-pc\sqlexpress2008;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=ashu12;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TestEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=manishsingh-pc\sqlexpress2008;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=ashu12;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LinqToSql.Properties.Settings.TestConnectionString"
      connectionString="Data Source=MANISHSINGH-PC\sqlexpress2008;Initial Catalog=Test;User ID=sa;Password=ashu12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>