<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="username" value ="ashishsingh"/>
		<add key ="password" value ="dragon1982"/>
		<add key ="subscribedpairs" value ="EUR/USD,GBP/USD,EUR/GBP,AUD/USD,USD/JPY,AUD/USD,USD/CHF,USD/CAD,USD/HKD,USD/SEK,USD/NZD,USD/KRW,USD/SGD,USD/NOK,USD/MXN,USD/INR"/>
	</appSettings>
</configuration>